{% extends "base.html" %}
{% block title %}Nuevo Color{% endblock %}

{% block content %}
<div class="container">
  <h2 class="mb-4">Registrar Color</h2>
  <form method="POST">
    <div class="mb-3">
      <label class="form-label">Código de Color</label>
      <input type="text" name="codigo_color" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Nombre del Color</label>
      <input type="text" name="nombre_color" class="form-control" required>
    </div>
     <div class="mb-3">
      <label for="codigo_html" class="form-label">Código HTML</label><br>
      <input type="color" name="codigo_html" id="codigo_html" value="#000000" required>
    </div>
    <button type="submit" class="btn btn-success">Guardar Color</button>
  </form>
</div>
{% endblock %}
